:root {
  --white: #ffffff;
  --black: #111111;
  --gray: #5f5f5f;
  --light: #f8f8f8;

  --transition: .35s ease;

  --max-width: 1700px;

  --nav-height: 78px;

  --spacing: 2rem;
}

*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{

scroll-behavior:smooth;
overflow-x:hidden;

}

body{

font-family:var(--font-inter);

background:white;

color:black;

overflow-x:hidden;

}

a{

text-decoration:none;

color:inherit;

}

button{

background:none;

border:none;

cursor:pointer;

font:inherit;

}

ul{

list-style:none;

}

img{

display:block;

max-width:100%;

}

.container{

width:min(95%,1700px);

margin:auto;

}

.logoFont{

font-family:var(--font-logo);

}

.section{

padding:120px 0;

}

::-webkit-scrollbar{

width:6px;

}

::-webkit-scrollbar-thumb{

background:#444;

}

::selection{

background:black;

color:white;

}
